@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>MVC Grid Demo</h2>
<p>
@Html.ActionLink("All Employee Data","GetAllEmployeeData")</p>
<p>
@Html.ActionLink("All Employee Master-Details View","GetAllEmployeeWithDetails")</p>
